*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --form-control-color: rgb(75, 75, 75);
    --border-color: rgb(75, 75, 75);
    --fill-color: rgb(75, 75, 75);
    --text-color: rgb(75, 75, 75);
}

body {
    font-family: 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


/* ---------------------------------------------------------------------------------------------- */
/* FLUID SIMULATION */


#simulation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-top: 30px;
    padding: 10px;

}

/* fluid simulation canvas ------------------------*/
#titleCaption {
    font-size: 1.5em;
    margin-left: 7%;
}

#titleCaption>span {
    color: rgb(57, 57, 244);
    font-weight: bold;
}

#xPos {
    width: 600px;
}

input[type="range"] {
    accent-color: var(--border-color);

}

#contourControl {
    display: flex;
    align-items: center;
}

#plotContour {
    border-radius: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-right: 1px solid black;
    height: 30px;
}

#contourSpinner {
    /* position: absolute; */
    /* left: 95%; */
    /* top: 50.25%; */
    width: 40px;
    font-size: 1em;
    text-align: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: none;
    height: 30px;
}

#fluidPlotContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-bottom: 2%;
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
}

#fluidPlot {
    position: relative;
}

#colorMapLegend {
    position: absolute;
    left: 100%;
    top: 2.25%;
}


#videoControlButtons {
    display: flex;
    gap: 20px;
    grid-column-start: 2;
}

#videoControlButtons>* {
    border: none;
    background-color: white;
    cursor: pointer;
    height: 30px;
}

#videoControlButtons>*:hover {
    background-color: #c1c1b1;
}

#resolutionSelector {
    text-align: center;
    font-size: 15px;
    width: 50px;
    height: 30px;
    border-radius: 10%;
    background-color: white;
}

#pauseIcon #replay {
    display: block;
}

#playIcon {
    display: none;
    padding-bottom: 2px;
}

#playbackSpeed {
    font-size: 23.2px;
    text-align: center;
    font-weight: bolder;
    color: var(--form-control-color);
}


#fluidButtons {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-bottom: 4px;
}


#fluidButtons:nth-child(4) {
    margin-left: auto;
}

/* PLOTS -----------------------*/
#chartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
}

.chart {
    position: relative;
    text-align: center;
    margin-left: 30px;
}

.yLabel {
    position: absolute;
    top: 45%;
    left: -15%;
    transform: rotate(270deg);
}



/* macro properties selection---------- */
fieldset {
    border: none;
}

input[type="radio"] {
    display: none;
}


#plotForm {
    margin-top: 30px;
    /* border: 1px var(--border-color) solid; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 30px;
    width: 600px;
    padding: 10px;
}

.macroLabel {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    border-radius: 50%;
}

.macroLabel:hover {
    cursor: pointer;
    background-color: #b5b5a8;
}

input[type="radio"]:checked+.macroLabel {
    background-color: var(--fill-color);
    color: white;
}

.selectionForm {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#plotSelectionForm,
#shapeSelectionForm {
    display: inline-flex;
    width: fit-content;
    gap: 10px;
}


#colorMapSelector {
    height: 30px;
    font-size: 1em;
}


.toggleBtn {
    background-color: white;
    font-size: 1em;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    cursor: pointer;
}

#trackHistory {
    width: 80%;
}

#reynoldsInput {
    width: 40px;
    font-size: 1em;
}

#reLabel {
    display: flex;
    align-items: center;
    gap: 10px;
    /* flex-direction: column; */
}


#obstacleRadiusLabel {
    display: flex;
    flex-direction: column;
}