*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --form-control-color: rgb(75, 75, 75);

}

body {
    font-family: 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


/* ---------------------------------------------------------------------------------------------- */
/* FLUID SIMULATION */


#simulation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-top: 30px;
    padding: 10px;

}

/* fluid simulation canvas ------------------------*/
#titleCaption {
    font-size: 1.5em;
    margin-left: 7%;
}

#titleCaption>span {
    color: rgb(57, 57, 244);
    font-weight: bold;
}

#xPos {
    width: 600px;
}

input[type="range"] {
    accent-color: var(--form-control-color);

}

#fluidPlotContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-bottom: 2%;
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
}

#fluidPlot {
    position: relative;
}

#colorMapLegend {
    position: absolute;
    left: 100%;
    top: 2.25%;
}


#videoControlButtons {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: baseline;
    grid-column-start: 2;
}

#videoControlButtons>* {
    border: none;
    height: 30px;
    background-color: white;
}

#videoControlButtons>*:hover {
    background-color: #c1c1b1;
}

#resolutionSelector {
    text-align: center;
    font-size: 15px;
    width: 50px;
    height: 20px;
    border-radius: 10%;
    background-color: white;
}

#pauseIcon #replay{     
    display: block;    
}
#playIcon {
    display: none;
    padding-bottom: 2px;
}

#playbackSpeed {
    font-size: 20px;
    text-align: inline block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: var(--form-control-color);
}


#fluidButtons {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
    justify-items: center;
    align-items: center;
}


#fluidButtons:nth-child(4) {
    margin-left: auto;
}

/* PLOTS -----------------------*/
#chartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
}

.chart {
    position: relative;
    text-align: center;
    margin-left: 30px;
}

.yLabel {
    position: absolute;
    top: 45%;
    left: -15%;
    transform: rotate(270deg);
}



/* macro properties selection---------- */
fieldset {
    border: none;
}

input[type="radio"] {
    display: none;
}


#plotForm {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 20px;
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
    width: 600px;
    justify-content: center;
    align-self: center;
    padding: 10px;
}

.macroLabel {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    border-radius: 50%;
}

.macroLabel:hover {
    cursor: pointer;
    background-color: #b5b5a8;
}

input[type="radio"]:checked+.macroLabel {
    background-color: var(--form-control-color);
    color: white;
}

#selectionFormContainer {
    display: flex;
    flex-direction: row;
    gap: 10%;
}

.selectionForm {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#plotSelectionForm,
#shapeSelectionForm {
    display: inline-flex;
    width: fit-content;
    gap: 10px;
}

#reLabel {
    display: flex;
    flex-direction: column;
}

#reynoldsInput {
    width: 33%;
}

#label {
    display: flex;
    gap: 5px;
}


#colorMapSelector {
    height: 30px;
    font-size: 1em;
}

#checkBoxes {
    /* display: flex; */
    /* flex-direction: row; */
    /* gap: 20%; */
}

#trackHistory {
}
#contourSpinner{
    background-color: black;
    width: 100px;
}

.toggleBtn{
    background-color: white;
    font-size: 15px;
    width: 100px;
    height: 30px;
    border-radius: 30px;

}